= bootstrap_form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= t('errors.template.header', model: @user.model_name.human)
      %p=  t('errors.template.body')
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  = f.text_field :name
  = f.text_field :email
  
  = f.submit
