%h1.text-center.mb-4= t('.title')

%ul.list-group.my-3
  - if @users.empty?
    %li.list-group-item
      .d-flex.w-100
        %h6.mb-1.mr-auto= t('.empty')
        %img.mx-1.my-auto.close.disabled{src: "/images/pencil.svg", width: "16", height: "16"}
        %img.mx-1.my-auto.close.disabled{src: "/images/trash.svg", width: "14", height: "16"}
  - else
    - @users.each do |user|
      %li.list-group-item.list-group-item-action
        .d-flex.w-100
          %h5.mb-1.mr-auto
            = link_to user.name, user_path(user), class: "text-reset"
          = link_to edit_user_path(user), class: "mx-1 close grow", title: t('.edit') do
            %img.mx-1.my-auto{src: "/images/pencil.svg", width: "16", height: "16"}
          = link_to user_path(user), class: "mx-1 close grow", title: t('.delete'), method: :delete, data: { confirm: t('.confirm', name: user.name)} do
            %img.mx-1.my-auto{src: "/images/trash.svg", width: "14", height: "16"}
        %small= user.email

- if @users.total_pages > 1
  = paginate @users

- navbar_button(caption: t('back'), href: root_path)
