%h1= t('.title', name: @user.name)

%dl.row
  %dt.col-3.text-right= User.human_attribute_name(:name) + " :"
  %dd.col-9= @user.name
%dl.row
  %dt.col-3.text-right= User.human_attribute_name(:email) + " :"
  %dd.col-9= @user.email

- navbar_button(caption: t('edit'), href: edit_user_path(@user))
- navbar_button(caption: t('back'), href: users_path)
