%h1= t('.title', name: @user.name)

%dl.row
  %dt.col-3.text-right= User.human_attribute_name(:name) + " :"
  %dd.col-9= @user.name
%dl.row
  %dt.col-3.text-right= User.human_attribute_name(:email) + " :"
  %dd.col-9= @user.email

= link_to t('edit'), edit_user_path(@user)
\|
= link_to t('back'), users_path
