%nav.navbar.navbar-expand-lg.navbar-dark.bg-black.p-0{id: "navbar"}
  .container
    %a.navbar-brand{href: root_path(locale: params[:locale])}
      %img.grow{src: "/images/logo.svg", height: "40"}
      = t('.brand')
    %button.navbar-toggler{type: "button", data: {toggle: "collapse", target: "#navbarResponsive"},
                           aria: {controls: "navbarResponsive", expanded: "false", label: "Navigation"}}
      %span.navbar-toggler-icon
    .collapse.navbar-collapse{id: "navbarResponsive"}
      %ul.navbar-nav.ml-auto
        = yield :navbar
        %li.nav-item.dropdown.ml-3
          %a.grow.nav-link.dropdown-toggle{href: "#", role: "button", id: "dropdownSettings",
                                           data: {toggle: "dropdown"}, title: t('.settings'),
                                           aria: {haspopup: "true", expanded: "false"}}
            = I18n.locale.to_s.upcase
          .dropdown-menu.dropdown-menu-right{aria: {labelledby: "dropdownSettings"}}
            - if logged_out?
              %a.dropdown-item.small{href: "#"}= t('.user.login')
            - else
              %h6.dropdown-header.small= current_user.first_name
              = link_to "#", class: "dropdown-item small" do
                = t('.user.profile')
              = link_to "#", class: "dropdown-item small" do
                = t('.user.logout')
            .dropdown-divider
            - if I18n.locale == :fr
              %a.dropdown-item.small{class: "disabled"} Français
            - else
              %a.dropdown-item.small{href: url_for(locale: "fr"), data: {turbolinks: "false"}} Français
            - if I18n.locale == :en
              %a.dropdown-item.small{class: "disabled"} English
            - else
              %a.dropdown-item.small{href: url_for(locale: "en"), data: {turbolinks: "false"}} English
