%h1.text-center.text-white.mb-4= t(".title.#{current_user.role.name}")

- if @places.empty?
  %p.text-center.text-white.my-3= t('.empty')
- else
  #bars.row.no-gutters.row-cols-2.row-cols-sm-3.row-cols-md-4.row-cols-lg-5
    - @places.each do |place|
      .col.mb-2
        %a.card.text-center.bg-light.mx-1.text-reset.text-decoration-none.h-100{href: place_path(place)}
          .card-body.py-1.px-0
            %h5.card-title.mb-0= place.name
            %p.card-text
              %small= place.address
          .card-footer.p-1
            %small= place.hood + ", " + place.city

- if @places.total_pages > 1
  = paginate @places

- navbar_button(caption: t('back'), href: root_path)
