%h1.text-center.mb-4= t('.title')

%ul.list-group.my-3
  - if @places.empty?
    %li.list-group-item
      .d-flex.w-100
        %h6.mb-1.mr-auto= t('.empty')
        %img.mx-1.my-auto.close.disabled{src: "/images/pencil.svg", width: "16", height: "16"}
        %img.mx-1.my-auto.close.disabled{src: "/images/trash.svg", width: "14", height: "16"}
  - else
    - @places.each do |place|
      %li.list-group-item.list-group-item-action
        .d-flex.w-100
          %h5.mb-1.mr-auto
            = link_to place.name, place_path(place), class: "text-reset"
          %small.mx-1.my-auto.text-muted
            = place.city
          = link_to edit_place_path(place), class: "mx-1 close grow", title: t('.edit') do
            %img.mx-1.my-auto{src: "/images/pencil.svg", width: "16", height: "16"}
          = link_to place_path(place), class: "mx-1 close grow", title: t('.delete'), method: :delete, data: { confirm: t('.confirm', name: place.name)} do
            %img.mx-1.my-auto{src: "/images/trash.svg", width: "14", height: "16"}
        %p.mb-1
          = link_to place.address + ", " + place.hood, place_path(place), class: "text-reset"

- if @places.total_pages > 1
  = paginate @places
