%h1= t('.title')

%table
  %thead
    %tr
      %th= Place.human_attribute_name(:name)
      %th= Place.human_attribute_name(:address)
      %th= Place.human_attribute_name(:hood)
      %th= Place.human_attribute_name(:city)
      %th= Place.human_attribute_name(:province)
      %th= Place.human_attribute_name(:postcode)
      %th= Place.human_attribute_name(:latitude)
      %th= Place.human_attribute_name(:longitude)
      %th= Place.human_attribute_name(:phone)
      %th= Place.human_attribute_name(:email)
      %th= Place.human_attribute_name(:website)
      %th
      %th
      %th

  %tbody
    - @places.each do |place|
      %tr
        %td= place.name
        %td= place.address
        %td= place.hood
        %td= place.city
        %td= place.province
        %td= place.postcode
        %td= place.latitude
        %td= place.longitude
        %td= place.phone
        %td= place.email
        %td= place.website
        %td= link_to t('show'), place
        %td= link_to t('edit'), edit_place_path(place)
        %td= link_to t('destroy'), place, method: :delete, data: { confirm: t('.confirm', name: place.name) }
