%h1.text-center.mb-3= t('.title', name: @place.name)

%dl.row.mb-0
  %dt.col-3.text-right= Place.human_attribute_name(:address) + " :"
  %dd.col-9= @place.address
%dl.row.mb-0
  %dt.col-3.text-right= Place.human_attribute_name(:hood) + " :"
  %dd.col-9= @place.hood
%dl.row
  %dt.col-3.text-right= Place.human_attribute_name(:city) + " :"
  %dd.col-9= @place.city
%dl.row.mb-0
  %dt.col-3.text-right= Place.human_attribute_name(:phone) + " :"
  %dd.col-9= @place.phone
%dl.row
  %dt.col-3.text-right= Place.human_attribute_name(:website) + " :"
  %dd.col-9= @place.website

- navbar_button(caption: t('edit'), href: edit_place_path(@place))
- navbar_button(caption: t('back'), href: places_path)
