!!! 5
%html{lang: I18n.locale}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    
    // Generated with: https://realfavicongenerator.net
    // using Public-domain images from: https://freesvg.org
    %link{rel: "manifest", href: "/site.webmanifest"}
    %link{rel: "apple-touch-icon", sizes: "180x180", href: "/apple-touch-icon.png"}
    %link{rel: "icon", type: "image/png", sizes: "32x32", href: "/favicon-32x32.png"}
    %link{rel: "icon", type: "image/png", sizes: "16x16", href: "/favicon-16x16.png"}
    
    = csrf_meta_tag
    = csp_meta_tag
    
    %title= t('application.title')
    
    = render "bootstrap_css"
    = stylesheet_link_tag    "application", 'data-turbolinks-track': 'reload', media: 'all'
    
    = render "bootstrap_js"
    = javascript_include_tag "application", 'data-turbolinks-track': 'reload'
  
  %body.bg-dark
    %header
      = render "header"
    %main
      = yield
    %footer
      = render "footer"
